body {
    background-image: url("./background.png");
    box-shadow: inset 0px 0px 0px 1000px rgba(0,0,0,.5);
    font-family: 'Lato', Helvetica, Arial, sans-serif;
    color: antiquewhite;
    animation-name: none;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes color {
    0% {
        background-color: rgba(0, 0, 0, 0.8);
    }
    50% {
        background-color: red;
    }
    100% {
        background-color: rgba(0, 0, 0, 0.8);
    }
}

.parent {
    /*background-color: rgba(0, 0, 0, 0.8);*/
    display: grid;
    grid-template-columns: 14vw 70vw 14vw;
    padding: 10px;
    min-width: 800px;
}

.frame {
    background-color: rgba(60, 60, 60, 0.9);
    height: 50vh;
    border: 7px solid #FC5000;
    border-radius: 40px;
    padding: 10px;
    text-align: center;
    grid-column: 2 / 3 ;
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 30vh 20vh;
    grid-gap: 0px;
}

.topspace {
    height: 15vh;
    grid-area: 1 / 1 / span 1 / span 3;
}

.spacer {
}

.heading {
    border: 5px solid #FC5000;
    border-radius: 3vh;
    background-color: #FC5000;
    grid-area: 1 / 2 / span 1 / span 1 ;
    margin-top: -2.25vw;
    height: 1.25em;
    padding: 5px;
    font-size: 3vh;
    letter-spacing: .85vw;
}

.horizsep {
    max-height: 0vh;
    border: .45vh solid #FC5000;
    border-radius: 15vh;
    padding: -1vh;
    grid-area: 2 / 2 / span 1 / span 1 ;
    margin-top: -2vh;
}

.period {
    grid-area: 1 / 2 / span 1 / span 1 ;
    margin-top: 5vh;
    max-height: 15vh;
    margin-bottom: 2vh;
    font-size: 10vh;
    padding: 5px;
}

#clockdiv {
    grid-area: 2 / 1 / span 1 / span 3 ;
    padding-top: 3.5vh;
    font-size: 10vh;
}

#clockdiv > div{
    padding: 0px;
    border: none;
    display: inline-flex;
}

#clockdiv div > .spc {
    padding: 0px 0px 0px 1.25vw;
}

#clockdiv div > span{
    padding: 0px;
    display: inline-flex;
}

.footspace {
    grid-area: 3 / 1 / span 1 / span 3;
    height: 4vh;
}

.footer {
    grid-area: 4 / 2 / span 1 / span 1;
    display: grid;
    grid-template-columns: 20vw 30vw ;
}

.footer img {
    width: 15vw;
    padding-top: -5vh;
}

.foottext {
    grid-area: 1 / 2 / span 1 / span 2;
    text-align: center;
    font-size: 5vh;
    padding-top: 5vh;
    border: 3px solid #FC5000;
    border-radius: 15px;
    background-color: rgba(60, 60, 60, 0.9);
}

.bottom {
    grid-area: 5 / 1 / span 1 / span 3;
    height: 5vh;
}